@model IEnumerable<BuscaImei.Models.Dispositivo>

@{
    ViewData["Title"] = "Busca";
    Layout = "_LayoutDashboard";
}

<div class="content-wrapper">

    <div class="container-fluid">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span>Busca de aparelho</span>
            </li>
        </ol>

        <div class="row ">
            <div class="col-md-12">
                <h2 class="text-center mt-md-3 mb-md-3">
                    Buscar Aparelho
                </h2>
                <div class="list-group-item">

                    <form class="mt-1" asp-action="busca" asp-controller="dispositivo" method="get">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="form-inline">
                                    <input type="search" name="search" value="@ViewBag.Search" placeholder="Pesquise por IMEI..." style="width:80%" class="form-control" />
                                    <button type="submit" name="name" value="" class="btn btn-success"><i class="fas fa-search"></i></button>
                                    <a class="align-self-center mt-1" asp-action="Busca">Limpar pesquisa</a>
                                </p>

                            </div>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Modelo)
                                </th>
                                <th>
                                    @Html.DisplayName("IMEI")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Marca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.Search == "")
                            {
                                <tr>
                                    <td>
                                        --
                                    </td>
                                </tr>
                            }

                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Modelo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Imei)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Marca)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>